.wrapper {
  width: 500px;

  margin: 60px auto;
  padding: 15px;

  background: rgba(214, 245, 255, 0.87);
  box-shadow: 0 8px 32px 0 rgba(9, 75, 95, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(7, 165, 208, 0.3);
}
